<div class="scene">
  <h1 class="title">Where is my Cake!!
    <br>
    <span class="question">Did you see it?</span>
  </h1>

  <div class="person">
    <div class="message">Uh..... I didn't eat it</div>
    <div class="hairs">
      <div class="hair1"></div>
      <div class="hair2"></div>
      <div class="hair3"></div>
    </div>
    <div class="body">
      <div class="eyes">
        <div class="eye">
          <div class="eye-ball"></div>
        </div>
        <div class="eye">
          <div class="eye-ball"></div>
        </div>
        <div class="mouth">
          <div class="food"></div>
        </div>
      </div>
    </div>
  </div>
</div>
