<div class="scene">
  <div class="person">
    <div class="hairs">
      <div class="hairs1"></div>
      <div class="hairs2"></div>
      <div class="hairs3"></div>
    </div>
    <div class="body">
      <div class="eyes">
        <div class="eye"></div>
        <div class="eye">
          <div class="eye-ball"></div>
        </div>
        <div class="eye">
          <div class="eye-ball"></div>
        </div>
        <div class="mouth">
          <div class="food"></div>
        </div>
      </div>
    </div>
  </div>
</div>
