<div class="container">
  <div class="resume">
    <div class="left">
      <h1>林昱融</h1>
      <h4>動畫互動網頁特效入門 | 墨雨設計</h4>
      <hr>
      <p></p>
      <div class="buttons">
        <a href="" class="btn fill">作品集</a>
        <a href="" class="btn">GitHub</a>
      </div>
      <div class="block">
        <h4>Skills</h4>
        <h2>專業技能</h2>
        <ul class="listSkill">
          <li>
            <div class="circle">
              <div class="p90"></div>
            </div>
            前端網頁開發(html/css/js)
          </li>
          <li>
            <div class="circle">
              <div class="p90"></div>
              <div class="p180"></div>
            </div>
            後端 Java
          </li>
          <li>
            <div class="circle">
              <div class="p90"></div>
              <div class="p180"></div>
              <div class="p270"></div>
            </div>
            CI/CD
          </li>
          <li>
            <div class="circle">
              <div class="p90"></div>
              <div class="p180"></div>
              <div class="p270"></div>
              <div class="p360"></div>
            </div>
            CI/CD
          </li>
        </ul>
      </div>
      <div class="block">
        <h4>Programming Skill</h4>
        <h2>程式設計</h2>
        <ul class="listProgram">
          <li>HTML/CSS/JS
            <div class="bar">
              <div class="value p30"></div>
            </div>
          </li>
          <li>JAVA
            <div class="bar">
              <div class="value p50"></div>
            </div>
          </li>
          <li>Angular
            <div class="bar">
              <div class="value p80"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="decoration"></div>
      <div class="block">
        <h4>Experience / Works</h4>
        <h2>經歷與作品</h2>
        <ul class="list-experience">
          <li class="year">2014
            <ul>
              <li>康師父活動用體感切醬料包遊戲 程式開發</li>
              <li>交大電機 高中生專區 網頁設計 / 開發</li>
              <li>長庚醫院 聲熱食墨西 腦瘤治療新契機3D 動畫</li>
            </ul>
          </li>
          <li class="year">2015
            <ul>
              <li>康師父活動用體感切醬料包遊戲 程式開發</li>
              <li>交大電機 高中生專區 網頁設計 / 開發</li>
              <li>長庚醫院 聲熱食墨西 腦瘤治療新契機3D 動畫</li>
            </ul>
          </li>
          <li class="year">2016
            <ul>
              <li>康師父活動用體感切醬料包遊戲 程式開發</li>
              <li>交大電機 高中生專區 網頁設計 / 開發</li>
              <li>長庚醫院 聲熱食墨西 腦瘤治療新契機3D 動畫</li>
            </ul>
          </li>
          <li class="year">2017
            <ul>
              <li>康師父活動用體感切醬料包遊戲 程式開發</li>
              <li>交大電機 高中生專區 網頁設計 / 開發</li>
              <li>長庚醫院 聲熱食墨西 腦瘤治療新契機3D 動畫</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
